.options {
  color: white;
  font-size: 1.2em;
}

button {
  background-color: #004273;
  font-family: 'Roboto';
  color: white;
  border: 2px solid #93b9dd;
  border-radius: 8px;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 1em;
}

.home-button {
  height: 60%;
  background-color: #3a9202; /*Changed the original color #004273*/
  font-family: 'Roboto';
  font-size: 1em;
  color: white;
  border: 2px solid #93b9dd;
  border-radius: 8px;
  margin-bottom: 10%;
  padding: 4%;
  display: inline-block;
}

button:hover {
  background-repeat: no-repeat;
  background: linear-gradient(to right, #0086D1, #0098DB);
  cursor: pointer;
}

.buttons2 {
  width: 48%;
  float: right;
}

.buttons1 {
  width: 48%;
  float: left;
}

.extra {
  text-align: center;
  color: white;
}

.questionHeader {
  color: white;
  text-align: center;
}

#navigation{
  margin-top: 1%;
}

.inputForm, .fields {
  display: inline-block;
  width: 100%;
  color: lightcyan;
  font-size: 1em;
}

.btn2 button{
  background-color: white; /* Green background */
  border: 1px solid black; /* Green border */
  color: black; /* White text */
  cursor: pointer; /* Pointer/hand icon */
  width: 12em;
  /*margin-bottom: 6px;*/
}

table{

  border-collapse: separate;
  border-spacing: 10px;

}

.btn1:hover, .btn1:active, .btn1:focus {
color: white !important;
background-color: green !important;
/* border-color: yellow !important; */
/* border: 5px solid yellow !important; */
}

