button {
    background-color: #004273;
    font-family: 'Roboto';
    color: white;
    border: 2px solid #93b9dd;
    border-radius: 8px;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 1em;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 1%;
    align-self: flex-start;
}

.container-row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1%;
    min-width: 320px;
}

.container-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    margin: 1%;
    background-color: rgba(255, 255, 255, 90%);
    border-radius: 10px;
    color: black;
}

.col {
    flex-grow: 0;
}

.col-1 {
    flex-grow: 1;
}

.text-center {
    text-align: center;
    margin: 0 auto;
}

.title {
    font-size: 1.5em;
    text-decoration: underline;
    color: #02375f;
}

.appointmentType {
    font-size: 0.7em;
}

.surveyTitle {
    text-align: left;
}

.video {
    text-align: center;
    border: 2px solid #02375f;
    border-radius: 2px;
    margin: 20px auto;
    padding: 0;
}

.video iframe {
    display: block;
    width: 500px;
    height: 281px;
    min-width: 50%;
    max-width: 100%;
}

.button-landing {
    padding: 10px;
    margin: 20px auto;
}

hr {
    visibility: hidden;
}

.summary-items {
    width: 100%;
}

.summary-item {
    margin: 5px 20px;
    padding-left: 15px;
    border-left: 4px solid #02375f;
    border-spacing: 5px;
    font-size: .9em;
}

.summary-title {
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
    color: #004273;
    text-decoration: underline;
}

#sum_text_header {
    margin: 0 auto;
    padding: 0.25rem;
    margin-bottom: 5;
    font-size: 1.2em;
    color: #02375f;
    font-weight: bold;
}

@media only screen and (max-width: 815px) {
    .container-row {
        display: block;
        margin: 0;
        padding-top: 0;
    }
    .sticky {
        background-color: #004273;
        margin: 0 0 1% 0;
        padding: 5px 0;
        text-align: center;
        display: block;
        top: 0;
    }
}