/*styles for home content only*/

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


button {
  background-color: #3a9202; /*Changed the original color #004273*/
  font-family: 'Roboto';
  font-size: 1.5em;
  color: white;
  border: 2px solid #93b9dd;
  border-radius: 8px;
  margin-bottom: 20%;
  padding: 5%;
  display: inline-block;
}

button:hover {
  background-repeat: no-repeat;
  background: linear-gradient(to right, #0086D1, #0098DB);
  cursor: pointer;
}
