<div class="center">
  <h1>My Account</h1>
  <form style="width: 75%; display: inline-block">
    <div [ngClass]="{
      blue: passColors['oldPass'] === 0,
      green: passColors['oldPass'] === 1,
      red: passColors['oldPass'] === -1,
      group: true
    }">
      <label for="oldPassword" class="group-start">Old Password:</label>
      <input [(ngModel)]="passFields['oldPassField']" (input)="oldPassChange()" type="password" id="oldPassword" class="group-end" name="oldPassword" placeholder="Old Password...">
    </div>
    
    <div>
      <h2>A strong password satisfies the following criteria:</h2>
      <ol class="left-align">
        <li>It contains at least one lowercase English character.</li>
        <li>It contains at least one uppercase English character.</li>
        <li>It contains at least one of these characters: !@#$%^&*()-+</li>
        <li>Its length is at least 8.</li>
        <li>It contains at least one digit.</li>
      </ol>
    </div>
    <div [ngClass]="{
      blue: passColors['newPass'] === 0,
      yellow: passColors['newPass'] === 1,
      green: passColors['newPass'] === 2,
      red: passColors['newPass'] === -1,
      group: true
    }">
      <label for="newPassword1" class="group-start">New Password:</label>
      <input [(ngModel)]="passFields['newPassField']" (input)="newPassChange()" type="password" id="newPassword1" class="group-end" name="newPassword1" placeholder="New Password...">
    </div>
    
    <div [ngClass]="{
      blue: passColors['verifyPass'] === 0,
      green: passColors['verifyPass'] === 1,
      red: passColors['verifyPass'] === -1,
      group: true
    }">
      <label for="newPassword2" class="group-start">Verify New Password:</label>
      <input [(ngModel)]="passFields['verifyPassField']" (input)="verifyPassChange()" type="password" id="newPassword2" class="group-end" name="newPassword2"
        placeholder="Verify New Password..">
    </div>

    <h3 *ngIf="messages['display']" [ngClass]="{
      warning: messages['warning'],
      success: !messages['warning']
    }">{{ messages['message'] }}</h3>
    <button (click)="onSubmit()" type="submit">Submit</button>
  </form>
</div>