<div class="center">
  <h1>My Account</h1>
  <form style="width: 75%; display: inline-block">
    <div [ngClass]="{
      blue: passColors.oldPass === this.colors.blue,
      green: passColors.oldPass === this.colors.green,
      red: passColors.oldPass === this.colors.red,
      group: true
    }">
      <label for="oldPassword" class="group-start">Old Password/Passphrase:</label>
      <input [(ngModel)]="passFields.oldPassField" (input)="oldPassChange()" type="password" id="oldPassword"
        class="group-end" name="oldPassword" placeholder="Old Password...">
    </div>

    <div>
      <h2>You may use a password or passphrase.</h2>
      <h3>A password must be at least 8 characters long and include <strong><em>at least 3</em></strong> character types.</h3>
      <h3>A passphrase must be at least 15 characters long and include <strong><em>at least 1</em></strong> character type.</h3>
      <h4><em>Passphrases are more secure and easier to remember than passwords.</em></h4>
      <p class="left-align">The character types are:</p>
      <ul class="left-align">
        <li>Lowercase English characters: <strong>a-z</strong></li>
        <li>Uppercase English characters: <strong>A-Z</strong></li>
        <li>Special characters: <strong>!@#$%^&amp;*()-+</strong></li>
        <li>Digits: <strong>0-9</strong></li>
      </ul>
    </div>
    <div [ngClass]="{
      blue: passColors.newPass === this.colors.blue,
      yellow: passColors.newPass === this.colors.yellow,
      green: passColors.newPass === this.colors.green,
      red: passColors.newPass === this.colors.red,
      group: true
    }">
      <label for="newPassword1" class="group-start">New Password/Passphrase:</label>
      <input [(ngModel)]="passFields.newPassField" (input)="newPassChange()" type="password" id="newPassword1"
        class="group-end" name="newPassword1" placeholder="New Password...">
    </div>

    <div [ngClass]="{
      blue: passColors.verifyPass === this.colors.blue,
      green: passColors.verifyPass === this.colors.green,
      red: passColors.verifyPass === this.colors.red,
      group: true
    }">
      <label for="newPassword2" class="group-start">Re-enter Password/Passphrase:</label>
      <input [(ngModel)]="passFields.verifyPassField" (input)="verifyPassChange()" type="password" id="newPassword2"
        class="group-end" name="newPassword2" placeholder="Verify New Password..">
    </div>

    <h3 *ngIf="messages.display" [ngClass]="{
      toWarn: messages.color === this.colors.red,
      warnToWarn: messages.color === this.colors.red2,
      toSuccess: messages.color === this.colors.green,
      successToSuccess: messages.color === this.colors.green2
    }">{{ messages.message }}</h3>
    <button (click)="onSubmit()" [disabled]="submitDisabled" type="submit">Submit</button>
  </form>
</div>